.list-group-item {
    display: flex;
    flex-direction: column; /* Stack icon and text vertically */
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 100px; /* Adjusted height */
    font-size: 18px; /* Larger font size */
}

.list-group-item .link-icon {
    margin-bottom: 5px; /* Space between icon and text */
    font-size: 24px; /* Larger icon size */
    color: red;
}

.list-group-item.active {
    background-color: white;
    color: red;
}
