.assignment-group {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    
}

.assignment-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px; 
    margin-top: 50px; 
    background-color: #f5f5f5; /* White background for each item */
    border: 1px solid #ddd; /* Light grey border for each item */
    border-radius: 4px; /* Rounded corners for each item */
        text-decoration: none; /* Removes underline from links */
    color: black; /* Sets the text color to black, or any color you want for your text */
    font-size: 1.2em; /* Increases the font size, adjust as needed */

}


/* Add horizontal margin to each icon */
.assignment-group-item .fa-icon {
    margin: 0 10px; 
}


.fa-icon {
    color: inherit; /* This makes the icon inherit the color from the parent */
    font-size: 1.3em; 
}

.assignment-title {
    margin-top: 20px; /* Adjust the value as needed to create more space */
    /* Other styling for the title */
}